<!DOCTYPE html>

<html>
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="container">
  	<h3>Walk time</h3>
  	<p>Looks like you've been working hard today. Time to stretch out</p>
  	<div class="">
  		<button type="button" class="btn btn-success">OK</button>
  		<button type="button" class="btn btn-danger">CLOSE</button>
  	</div>	
  </div>
</body>

</html>
