<!DOCTYPE html>

<html>
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="container">
  	<div>
  		<!--#TODO: Add Span: This is for the app icon-->
  		<h3 class="">Walky</h3>
  		<div class="pull-right btn btn-default" style="margin-top:-40px">
  			<span class="glyphicon glyphicon-cog"></span><!--#TODO: add tooltip here-->
  		</div>
  	</div>
  	<hr>
  	<br>
  </div>
</body>

</html>
  		


