<!DOCTYPE html>

<html>
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div class="container">

	<!-- #TODO: add status message divL should vanish in 10-20 seconds -->

  		<div class="container" style="margin-left:-15px; margin-top: 15px">
  		<!-- #TODO: add settings icon -->
  		<!-- #TODO: add back-button and functionality for the same -->
  			<button type="button" class="btn btn-default"> 
  				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
  			<h3 style="vertical-align:middle; display: inline;"> 
			Settings</h3>
  		</div>
  	
  	<hr>

  	<!-- #TODO: center the buttons-->
  	<!-- #TODO: match width of both buttons-->  	
  	<div class="row" style="text-align: center;">
  	 	<button type="button" class="btn btn-primary" id="edit-day-hours">
  	 		<span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>
  	 		Set Day Hours
  	 	</button>

  	 	<div style="display: none;">
	  	 	<button type="button" class="btn btn-success" style="width: 69px" data-toggle="tooltip" title="Save Changes">
	  	 		<span class="glyphicon glyphicon-floppy-saved"></span>
	  	 	</button>
	  	 	<button type="button" class="btn btn-danger" style="width: 69px" data-toggle="tooltip" title="Discard Changes">
	  	 		<span class="glyphicon glyphicon-trash"></span>
	  	 	</button>	
	  	</div>

  	 	<div id="input-day-hours" style="margin-top: 10px; display: none">
  	 		Wake up time <input type="number" placeholder="HH" style="width:40px">
  	 			<input type="number" placeholder="HH" style="width:40px"><br>
  	 		Sleep time <input type="number" placeholder="HH" style="width:40px">
  	 			<input type="number" placeholder="HH" style="width:40px">
  	 	</div>
  	 </div>

  	 <br>
  	 <div class="row" style="text-align: center; margin-top:0px">
  	 	<button type="button" class="btn btn-primary" style="padding-right: 30px">
  	 		<span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>
  	 		Set Interval
  	 	</button>

  	 	<div style="display: none;">
	  	 	<button type="button" class="btn btn-success" style="width: 69px" data-toggle="tooltip" title="Save Changes">
	  	 		<span class="glyphicon glyphicon-floppy-saved"></span>
	  	 	</button>
	  	 	<button type="button" class="btn btn-danger" style="width: 69px" data-toggle="tooltip" title="Discard Changes">
	  	 		<span class="glyphicon glyphicon-trash"></span>
	  	 	</button>	
	  	</div>

  	 	<div id="day-interval" style="display: none">
  	 		<br>
  	 		<input type="number" placeholder="Set the reminder intervals" /><br>
  	 	</div>
  	 </div>

  	 </div>
</body>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/settings.js"></script>
<script>if (window.module) module = window.module;</script>

</html>
