<!DOCTYPE html>

<html>
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div class="container">
		<div class="container" style="margin-left:-15px; margin-top: 15px">
		<!-- #TODO: add settings icon -->
		<!-- #TODO: add back-button and functionality for the same -->
			<button type="button" class="btn btn-default"> 
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<h3 style="vertical-align:middle; display: inline;"> 
			Settings</h3>
		</div>
	
	<hr>

	<!-- #TODO: add status message div should vanish in 10-20 seconds -->

	<div class="alert" id="statusMsgToUser-1" style="display:none; padding-bottom: 5px; padding-top: 5px">
	 </div>

	<div class="alert" id="statusMsgToUser-2" style="display:none; padding-bottom: 5px; padding-top: 5px">
	 </div>



	<!-- SET WAKE HOURS SETTINGS -->
	<div class="row" style="text-align: center;">
		<button type="button" class="btn btn-primary" id="edit-day-hours">
			<span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>
			Set Day Hours
		</button>

		<form style="display: none;" id="form-1">
			<!-- SAVE/DISCARD BUTTONS -->
			<div>
				<button type="button" class="btn btn-success" id="submit-1" style="width: 69px" data-toggle="tooltip" title="Save Changes">
					<span class="glyphicon glyphicon-floppy-saved"></span>
				</button>
				<button type="button" class="btn btn-danger" style="width: 69px" id="discard-1" data-toggle="tooltip" title="Discard Changes">
					<span class="glyphicon glyphicon-trash"></span>
				</button>	
			</div>
	
				<!-- INPUT -->
			<div id="input-day-hours" style="margin-top: 10px;" class="greyText">
				<div>
					<b>WAKE UP</b> <input type="number" placeholder="HH" style="display: inline; width:40px" class="form-control" id="wakeTimeHH">	
						<input type="number" placeholder="MM" style="display: inline; width:40px" class="form-control" id="wakeTimeMM"><br>
				</div>

				<div style="margin-top: 10px">
					<b>SLEEP</b> <input type="number" placeholder="HH" style="display: inline; margin-left:15px; width:40px" class="form-control" id="sleepTimeHH">	
						<input type="number" placeholder="MM" style="display: inline; width:40px" class="form-control"
						id="sleepTimeMM">
				</div>
			</div>
		</form>
	 </div>
	 

	 <!-- SET INTERVAL BUTTON -->
	 <br>
	 <div class="row" style="text-align: center; margin-top:0px">
		<button type="button" class="btn btn-primary" style="padding-right: 30px" id="edit-interval">
			<span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>
			Set Interval
		</button>

		<form style="display: none;" id="form-2">
			<div>
				<button type="button" class="btn btn-success" style="width: 69px;" data-toggle="tooltip" title="Save Changes">
					<span class="glyphicon glyphicon-floppy-saved"></span>
				</button>
				<button type="button" class="btn btn-danger" style="width: 69px" id="discard-2" data-toggle="tooltip" title="Discard Changes">
					<span class="glyphicon glyphicon-trash"></span>
				</button>	
			</div>
	
			<div id="day-interval">
				<br>
				<input type="number" placeholder="Set the reminder intervals" id="userInterval"/><br>
			</div>
		</form>
	 </div>

	 </div>
</body>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/settings.js"></script>
<!-- //comment: above line for browser test
<script type="text/javascript"> require('./js/settings.js')</script> -->
<script>if (window.module) module = window.module;</script>

</html>
