<!DOCTYPE html>

<html>
<head>

  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div class="container">
  	<div>
  		<!-- #TODO: add settings icon -->
  		<!-- #TODO: add back-button and functionality for the same -->
  		<h3>Settings</h3>
  	</div>
  	
  	<hr>

  	<!-- #TODO: center the buttons-->
  	<!-- #TODO: match width of both buttons-->  	
  	<div class="col-sm-12">
  	 	<button type="button" class="col-sm-2 btn btn-primary">
  	 		<span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>
  	 		Set Day Hours
  	 	</button>
  	 	<div id="day-hours" style="display: none">
  	 		Wake up time <input type="number"/><br>
  	 		Sleep time <input type="number"/>
  	 	</div>
  	 </div>

  	 <br>
  	 <div class="col-sm-12" style="margin-top:0px">
  	 	<button type="button" class="col-sm-2 btn btn-primary">
  	 		<span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>
  	 		Set Interval
  	 	</button>
  	 	<div id="day-interval" style="display: none">
  	 		<br>
  	 		<input type="number" placeholder="Set the reminder intervals" /><br>
  	 	</div>
  	 </div>

</body>

</html>