
/*disables the scrolling inside inputs*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  	padding: 0px;
}

.greyText {
  	color: #808080;
}

body {
 	padding-top:60px;
}

.navbar {
	min-height:45px;
	height:45px;
}

.btn-default{
    border-color:#fff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right:7px;
}

#day-interval input[type=number] {
  width: 138px;
}

.nav > li > a {
    padding: 5px 5px !important;
    margin-right: 0 !important;
}

.nav-tabs > li {
    width:33.33333%;
    text-align: center;
}
